.article {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 12px;
  
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: auto;
}

.article__title {
  background-color: var(--light-orange);
  font-family: var(--font-1);
  font-size: 1.3rem;
  padding: 8px 20px;
}

.article__list {
  font-family: var(--font-1);
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
  padding: 8px 16px;
}

.article__list strong {
  font-weight: bold;
}

.article__content {  
  text-align: justify;
  font-family: var(--font-1);
  font-size: 1.1rem;
  line-height: 1.5;
  color: #777;
  padding: 8px 16px;
}

/* faq */
.article__faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  min-height: 200px;
  margin: 16px auto;
  padding: 50px auto;
  text-align: center;
  line-height: 1.5;
}

.article__title--faq {
  /* font-weight: bold; */
  /* color: var(--orange); */
}

.article__list--faq {
  width: 40%;
  margin: 12px auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__list--faq li {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  
  padding: 20px;
}

@media (max-width: 800px) {
  .article {
    width: 100%;
    margin-top: 8px;
  }
}
