.content .content__highlight {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 8px auto;
}

/* video */
.content__video {
  margin-right: 8px;
  width: 75%;
}

video {
  width: 100%;
  position: relative;
}

@media (max-width: 1000px) {
  .content__video {
    width: 100%;
  }
  .content .content__highlight {
    flex-wrap: wrap;
  }
}
