/* content */
.page-home {
  width: 100%;
  height: 200vh;
}

.content__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 20px auto;
}

.content .content__head .content__title {
  width: 70%;
  font-family: var(--font-1);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--orange);
}
.content .content__head .content__info {
  display: flex;
  flex-direction: column;
}

.content .content__head .content__info .content__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .content__head .content__info span {
  text-align: center;
  color: var(--orange);
  font-family: var(--font-1);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .content .content__head .content__title {
    width: 100%;
    margin-bottom: 16px;
    font-size: 1.2rem;
  }
}
