.side-nav {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  z-index: 1;
}
.side-nav .side-nav__header p {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100% );
  color: #fff;
  padding: 25px 16px;
  
  font-weight: bold;
  font-family: var(--font-1);
  font-size: 1.5rem;
  line-height: 1;
}
.side-nav .side-nav__header img {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


.side-nav .side-nav__list li {
  border-bottom: 1px solid gray;
}

.side-nav .side-nav__list a {
  display: block;

  color: #777;
  padding: 8px 16px;
  font-family: var(--font-1);
  font-size: 1.2rem;
  line-height: 1;

  border-left: 4px solid transparent;
  transition: all .5s ease;  
}

.side-nav .side-nav__list a.active,
.side-nav .side-nav__list a:hover,
.side-nav .side-nav__list a:focus {
  font-weight: bold;
  border-left: 4px solid var(--orange);
  background-color: rgba(237, 120, 57, 0.3);
}

@media (max-width: 1100px) {
  .side-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50px;
    height: auto;
  }

  .side-nav__menu {
    display: flex;
    flex-direction: column;
  }

  .side-nav .side-nav__header p {
    display: none;
  }

  .side-nav .side-nav__list li {
    width: 100%;
    border: none;
  }

  /* responsivo */
  .side-nav [data-menu="button"] {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 20px;
    margin: 8px;

    cursor: pointer;
    z-index: 9990;
  }

  [data-menu="button"] .one,
  [data-menu="button"] .two,
  [data-menu="button"] .three {
    position: absolute;
    background-color: var(--light-orange);
    border-radius: 10px;

    width: 100%;
    height: 4px;

    z-index: 99999;
    transition: 0.5s ease;
  }
  [data-menu="button"] .one {
    top: 0;
    left: 0;
  }
  [data-menu="button"] .two {
    bottom: 0px;
    left: 0;
  }
  [data-menu="button"].active .one,
  [data-menu="button"].active .two,
  [data-menu="button"].active .three {
    background-color: var(--orange);
  }

  [data-menu="button"].active .one {
    transform: rotate(45deg);
    top: 10px;
  }
  [data-menu="button"].active .two {
    transform: rotate(-45deg);
    top: 10px;
  }
  [data-menu="button"].active .three {
    opacity: 0;
  }

  .js [data-menu="list"] {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;

    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.7);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--orange);
    color: #fcfcfc;

    max-width: 320px;
    width: 100%;
    height: 100%;
    padding: 24px 28px 120px 28px;

    left: 0;
    top: 0;
    z-index: 999;

    transform: translateX(-85%);
    transition: all 235ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }
  .js [data-menu="list"].active {
    background-color: #fff;
    transform: none;
    transition: all 205ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@media (max-width: 360px) {
  .side-nav [data-menu="button"] {
    margin-top: 25px;
  }
  [data-menu="button"] .one,
  [data-menu="button"] .two,
  [data-menu="button"] .three {
    position: absolute;
    background-color: var(--orange);
    border-radius: 10px;

    width: 100%;
    height: 4px;

    z-index: 99999;
    transition: 0.5s ease;
  }
  .js [data-menu="list"]{
    transform: translateX(-100%);
  }
}
